table.pledge-table {
  border-collapse: collapse;
  max-width: 100%;
}

.pledge-table th {
  background-color: var(--classic-brewers-blue);
  color: var(--classic-brewers-yellow);
}

.pledge-table tbody tr:nth-child(odd) {
  background-color: var(--classic-brewers-yellow);
}

.pledge-table tbody tr:nth-child(even) {
  background-color: var(--classic-brewers-grey);
}
