/* Saner defaults */
body { margin: 0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html {
  --current-brewers-blue: #061829;
  --classic-brewers-blue: #13489d;
  --classic-brewers-blue-hover: #2179ff;
  --classic-brewers-blue-active: #062a5f;
  --classic-brewers-yellow: #ffd629;
  --classic-brewers-grey: #eeeeee;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

img.header {
  max-width: 100%;
}

nav {
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 0px 12px;
}

nav li a {
	text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

div.main {
	display: flex;
}

div.main > div {
	flex: 1 1 auto;
	width: 0;
	margin: 10px;
}
