<html>
  <head>
    <title>Pee Your Pants For The Brewers</title>

    <script type="text/javascript" src="/assets/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    {{$styles}}{{/styles}}
  </head>
  <body>
    <header>
      <img class="header" src="/assets/img/header.png">
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/list">List</a></li>
        <li><a href="/methods">Methods</a></li>
      </ul>
    </nav>

    <div class="main">
    {{$content}}{{/content}}
    </div>

    <footer>
    </footer>
  </body>
</html>
